.calendar {text-align: center;}
.calendar header {padding:10px; background: #ff7b3d;position: relative;}
.calendar h2 {text-transform: uppercase;display: inline-block; padding: 0 20px; color: #fff; font-size: 1.3em;}
.calendar thead {font-weight: 600;text-transform: uppercase;}
.calendar tbody {background: #fff;color: #7c8a95;}
.calendar td {padding:7px 10px;border:1px solid #eee;text-align: center;}
.current-day {background: #1a1a1a;font-weight: 700;color: #fff;}
.event {cursor: pointer;position: relative;}
.event:after {
    background: #c0392b;
    border-radius: 50%;
    bottom: 8px;
    display: block;
    content: '';
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    width: 8px;
}

.event.green-event:after {
    background: #009E82;
}

.event.blue-event:after {
    background: #0078AB;
}

.event.current-day:after {
    background: #f9f9f9;
}

.btn-prev,
.btn-next {display: inline-block;
border-radius: 100%;
	color: #fff;
	height: 40px;
	font-size: 22px;
	line-height: 40px;
	width:40px;
}

.btn-prev:hover,
.btn-next:hover {
    background:rgba(0,0,0,0.3);
    color: #fff;
}

.btn-prev {
    left: 30px;
}

.btn-next {
    right: 35px;
}

.list {
    margin-top: 20px;
}

.close {
    color: #A4AAAB;
    margin-top: -15px;
    margin-right: 10px;
    float: right;
}

.day-event {
    background-color: #F2F2F2 ;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 50px;
    display:none;

}

.day-event p{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.day-event span{
    font-size: 12px;
}

.day-event button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #c0392b;
    border: 0;
    border-bottom: 2px solid #b53224;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #b53224;
    box-shadow: inset 0 -2px #b53224;
}
.caltable{width: 100%; border-spacing: 0;border-collapse: collapse; table-layout: fixed;background: #fff;}
.caltable .event-days td{ padding:6px; background: #1a1a1a;border: none; color: #fff;font-weight: 300;font-size: 0.8em;}


