/*******************************Calendar Top Navigation*********************************/
div#calendar {
	margin:0px auto;
	/* max-width: 600px; */
	width:100%;
	padding:0 ;
}
div#calendar div.box {box-shadow: none;border: none;
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:50px;
	background-color:#ff7b3d;
	border-color:#ff7b3d;
}
div#calendar div.header {
	line-height:38px;
	vertical-align:middle;
	position:absolute;
	left:0;
	top:0px;
	width:100%;
	height:50px;
	text-align:center;
}
div#calendar div.header a.prev, div#calendar div.header a.next {
	position:absolute;
	top:8px; font-size:11px; padding: 0 10px; text-transform: uppercase;
	display:block;
	cursor:pointer;
	text-decoration:none;
	color:#FFF;
}
.yeartxt{font-size: 20px; line-height:50px; color: #fff; font-weight: 600; text-transform: uppercase;}
div#calendar div.header a.prev:hover, div#calendar div.header a.next:hover{background: rgba(0,0,0,0.1);}
div#calendar div.header span.title {
	color:#FFF;
	font-size:18px;
}
div#calendar div.header a.prev {
	left:15px;
}
div#calendar div.header a.next {
	right:15px;
}
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content {
	/*border:1px solid #ddd;*/background: #fff;
	border-top:none;
}
div#calendar ul.label {table-layout: fixed;width: 100%;background-color:#000; 
	display: table;
	margin: 0;
	padding: 0;
	text-align: center;
}
div#calendar ul.label li {
	background: none!important;background-color:#000;box-shadow: none!important;
	color: #fff;
	display: table-cell;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	list-style-type: none;
	margin: 3px;
	padding: 0;
	text-align: center;
	vertical-align: top;

}
div#calendar ul.dates {
	display:inline-block; width: 100%;
	margin: 0 0 0;
	padding:5px;
	text-align: center;
}
/** overall width = width+padding-right**/

div#calendar ul.dates li{float: left;width:14.28%;padding:1px; }
div#calendar ul.dates li a {
	border: 1px solid #eee;
	display: block;
	font-size: 14px;
	list-style-type: none; color: #333;
	display: block; min-height:42px;
	
	position: relative;
	text-align: center;
	vertical-align: middle;
	
}
div#calendar ul.dates li.disabled{ cursor: not-allowed;}
div#calendar ul.dates li.disabled a{ color: #999; cursor: not-allowed;}
div#calendar ul.dates li.block a{background:#f9f9f9; position: relative;}
div#calendar ul.dates li a{position: relative;background: #fff;}
div#calendar ul.dates li a:hover{color: #000;}
div#calendar ul.dates li a:before {
    border-left:7px solid transparent;
    border-top:7px solid #00b6ad;
    content: "";
    position: absolute;
    right:3px;
    top: 1px;
}
div#calendar ul.dates li.disabled a:before,div#calendar ul.dates li.Unavailable a:before{display: none;}
div#calendar ul.dates li.disabled a{ color: #ddd;background: none; }
div#calendar ul.dates li.Unavailable a{ background: none; color: #333;}
div#calendar ul.dates li.Unavailable a{ cursor: default;}

/*.dates a:hover{background: none!important; color: #333!important;}*/
:focus {
	outline:none;
}
/*div#calendar ul.dates .today .text-info{background: #fff; color: #333;border-color: #fff;}
div#calendar ul.dates .today .text-info1{ border-color: #fff;}*/

div.clear {
	clear:both;
}
/*div#calendar ul.dates .text-info{line-height: normal; top: auto!important;background: #eee; padding: 0 5px; opacity: 0;
	font-size: 12px!important;
	left: 5px;
	position: absolute;
	bottom:6px;
}*/


div#calendar ul.dates .text-info{pointer-events: none; background: #000; font-size: 12px; color: #fff; width:60px; border-radius: 3px; padding: 5px 5px 7px 5px; position: absolute; left: 50%; margin: 0 0 0 -30px; bottom: 20px; opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
div#calendar ul.dates .text-info:before{	content: '';position: absolute;bottom: -5px;left: 50%;margin-left: -8px;border-left:8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid #000;}

div#calendar ul.dates li:hover .text-info{opacity: 1;bottom:40px;}



div#calendar ul.dates .text-info1{line-height: normal; top: auto!important; border:1px solid #ddd;padding: 0 5px;
	font-size: 12px;
	right: 5px;
	position: absolute;
	bottom: 6px;
}
.calender-header {
	margin: 0 auto;
	width: 200px;
}
/*div#calendar ul.dates .today {
	background-color:#00abc9 !important;
}
div#calendar ul.dates .today:hover a {
	color:#fff !important;
}*/
.dates a {
	cursor: pointer;
	color:#333;
}
#calendar .box {
	margin: 0;
}
div#calendar ul.dates  .today > a { background:rgba(0,0,0,1);border-color:rgba(0,0,0,1); color: #fff;}
#list_results {
	padding:20px 0 30px;
	background:#ffffff;
	border: 1px solid #aebacb;
	width: 100%;
}

@media only screen and (max-width:600px) {
/*div#calendar ul.dates li {
    font-size:18px;
    height: 45px;
    line-height: 45px;
    margin:1px;
}*/
div#calendar ul.label li {
    font-size: 12px;
    margin: 1px;
}

div#calendar div.header span.title {
    font-size: 14px;
}
}



#dates{display: inline-block;position: relative;top:10px;vertical-align: middle;}
div#calendar ul.dates .startDate a, div#calendar ul.dates .endDate a, div#calendar ul.dates .endDate.between a{background-color: #ff7b3d !important; border-color: #ff7b3d;  color: #fff;}
div#calendar ul.dates .startDate a:hover, div#calendar ul.dates .endDate a:hover{ color: #fff;}
div#calendar ul.dates .startDate a:before, div#calendar ul.dates .endDate a:before{border-top:7px solid rgba(0,0,0,0.4);}
/*div#calendar ul.dates .startDate a, div#calendar ul.dates .endDate a{color: #fff !important;}*/
/*.crossCalender{position: relative;display: inline-block; width:14px;height: 14px; line-height:9px; text-align: center; border-radius: 100%; background: #666; vertical-align: middle; margin: 0 0 0 5px;}
.crossCalender:before{position:relative;  content: "X"; font-family: Arial; color: #fff;font-size:8px;}*/

div#calendar ul.dates li.between a{background-color:rgba(0,0,0,0.05) !important;}
/*div#calendar ul.dates li.checkout a{background-color: #cf1e36 !important; color: #fff;}*/
/*div#calendar ul.dates .checkout a{color: #fff !important;}*/

.wrapfield .div#calendar ul.dates{border: 1px solid #eee;}
div#calendar ul.dates .today > a:hover{color: #fff;}
div#calendar ul.dates li.today a:before{border-top: 7px solid rgba(255,255,255,0.8;}