@charset "utf-8";
/* CSS Document */
body{font-family:Arial;}
.arrowbutton{ background: #fff;filter:none;}
ul.navigations li a.active:before{border-top:8px solid #fff;}
.arrowbutton:hover{background:#CF1E36;}
#banner .content h2{font-weight:bold;}

ul.categories li a{ font-size:14px; color:#4e4e4e; height:30px; line-height:30px; display:block;}
.menu-button{display:none;}