.main_parent {
	float: left;
	font-weight: 600;
	margin-top: 20px;
	padding-left: 20px;
	width: 18%;
}
#frm_mbs_id_frmDealCategory > ul {
	margin-left: -20px;
	margin-top: -20px;
}
.main_parent > ul {
	background: none repeat scroll 0 0 #d7d7d7;
	height: 200px;
	margin-top: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 10px;
}
#frm_mbs_id_frmDealCategory > input {
    margin: 10px 0;
}

.main_parent ul li{
display:table;
margin:3px 0;
}
.main_parent ul li input[type="checkbox"]{
display:table-cell;
vertical-align:middle;
}
.main_parent ul li label {
    display: table-cell;
    padding: 0px 0 0 3px;
    line-height: 1;
     vertical-align: middle;
}
.main_parent.nullChild {
display:table;
font-weight:600;
}

.main_parent.nullChild label {
    font-weight: 600;
    padding: 3px 0 0 3px;
    text-align: left;
    vertical-align: middle;
}
.main_parent.nullChild  input[type="checkbox"]{
display:table-cell;
vertical-align:middle;
}

/*#content1 > form {
    background: none repeat scroll 0 0 #eaeaea;
    padding: 10px;
}*/
.submitButton{
width:100%;
margin:10px auto;
text-align:left;
}
.main_parent ul li ul li {
padding-left:10px;
}
.main_parent ul li ul li ul li{
padding-left:10px;
}
.main_parent ul li ul li ul li ul li{
padding-left:10px;
}
.main_parent ul li ul li ul li ul li ul li{
padding-left:10px;
}


.main_parent .subParent {
    margin: 2px 17px;
}