.box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1DEDE;
    box-shadow: 1px 2px 3px #9E9E9E;
    margin-bottom: 15px;
}
.box .title {
    background: -moz-linear-gradient(center top , #F9F9F9, #F1F1F1) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #E1DEDE;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 3px 3px #EDEDED;
    color: #2E2E2E;
    font-family: 'OpenSansSemibold';
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
.box .title-msg {
    background: -moz-linear-gradient(center top , #E56600, #FF700F) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #E1DEDE;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 3px 3px #EDEDED;
    color: #FFFFFF;
    font-family: 'OpenSansSemibold';
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
a.btn {
    text-transform: uppercase;
    background: #cf1e36;
    -o-border-radius: 3px;
    -icab-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 90px 35px;
    width: auto;
    text-align: center;
    display: block;
    font-size: 65px;
    color: #fff;
    font-weight: bold;
    font-family: arial;
    margin: 10px auto;
    text-decoration: none;
    max-width: 525px;
}
a.gray {
		background:-moz-linear-gradient(top, #595959 0%, #373737 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #595959), color-stop(100%, #373737)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #595959 0%, #373737 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #595959 0%, #373737 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #595959 0%, #373737 100%); /* IE10+ */
	background:linear-gradient(top, #595959 0%, #373737 100%); /* W3C */
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#595959', endColorstr='#373737');
	border:solid 1px #595959;
	border-bottom:solid 1px #282828;
	text-shadow:0px 1px 0px #292929;
	color:#fff;
}