/* The main calendar widget.  DIV containing a table. */

div.calendar {
	position: relative;
	z-index:10001;
}
.calendar {border:10px solid #fff;
	 
	-moz-box-shadow:0 0px 7px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0px 7px rgba(0, 0, 0, 0.6);
	box-shadow:0 0px 7px rgba(0, 0, 0, 0.6);
	/*border: 1px solid #cccccc;*/
	background: #fff;
	border-radius:3px;
	/* overflow:hidden; */
}
.calendar table {
	font-size: 11px;
	color: #000;
	cursor: default;
}
.calendar thead .headrow{margin-bottom:10px;}
.calendar .nav.button div{font-size:26px;}
.calendar .button div{font-size:15px;}

.calendar thead .name:first-child{border-radius:3px 0 0 3px;}
.calendar thead .name:last-child{border-radius: 0 3px 3px 0;}
.calendar thead .headrow td{padding:5px 0;}
/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
	text-align: center;    /* They are the navigation buttons */
	/* padding: 5px;  */         /* Make the buttons seem like they're pressing */
	height:auto;
	line-height:normal; display:table-cell; color:#666;
}
.calendar .nav {
	background:  url(menuarrow.gif) no-repeat 100% 100%;
}
.calendar thead .title { font-size: 16px; /* This holds the current "month, year" */
    /* Pressing it will take you to the current date */
	text-align: center;
	background: #fff;
	color: #cf1e36;
	padding: 2px;
}
.calendar thead .headrow { /* Row <TR> containing navigation buttons */
	background: #fff;
	color: #777;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
.calendar thead .daynames { /* Row <TR> containing the day names */
	background: none;
}
.calendar thead .name { /* Cells <TD> containing the day names */
	background:#cf1e36;
	padding:8px 7px;
	text-align: center;
	color: #fff;
}
.calendar thead .weekend { /* How a weekend day name shows in header */
	color: #fff;
}
.calendar thead .hilite { /* How do the buttons in header appear when hover */
	/*background-color: #aaf;*/
	/* color: #fff;
	background:#cf1e36; *//*	border: 1px solid #04f;*/
}
.calendar thead .active {
	/* background:#cf1e36;  *//* Active (pressed) buttons in header */
}
/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
	width: auto;
	color: #666666;
	text-align: center;
	padding:5px 8px;
}
.calendar tbody .day.othermonth {
	font-size: 80%;
	color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
	color: #fbb;
}
.calendar table .wn {
	padding: 2px 3px 2px 2px;
	border-right: 1px solid #000;
	background: #fff;
}
.calendar tbody .rowhilite td {
	background:#f6f6f6;
}
.calendar tbody .rowhilite td.wn {
}
.calendar tbody td.hilite { /* Hovered cells <TD> */
}
.calendar tbody td.active { /* Active (pressed) cells <TD> */
	background: #fff;
	border:solid 1px #cf1e36;
	color:#cf1e36;
}
.calendar tbody td.selected { /* Cell showing today date */
	background: #fff;
	border:solid 1px #cf1e36;
	color:#cf1e36;
}
.calendar tbody td.weekend { /* Cells showing weekend days */
	color: #c00000;
}
.calendar tbody td.today { /* Cell showing selected date */
	font-weight:600;
	color: #cf1e36;
}
.calendar tbody .disabled {
	color: #999;
}
.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
	visibility: hidden;
}
.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
	display: none;
}
/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
	text-align: center;
	background: #556;
	color: #fff;
}
.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
	background: #ddd;
	color: #777;
	border-top: 1px solid #d7d7d7;
	padding:10px;
}
.calendar tfoot .hilite { /* Hover style for buttons in footer */
	/* background: #aaf; */
	border: 1px solid #04f;
	color: #000;
	padding: 1px;
}
.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
	background: #77c;
	padding: 2px 0px 0px 2px;
}
/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 4em;
	cursor: default;
	border: 1px solid #655;
	background: #def;
	color: #000;
	font-size: 90%;
	z-index: 100;
}
.calendar .combo .label, .calendar .combo .label-IEfix {
	text-align: center;
	padding: 1px;
}
.calendar .combo .label-IEfix {
	width: 4em;
}
.calendar .combo .hilite {
	/* background: #acf; */
}
.calendar .combo .active {
	border-top: 1px solid #46a;
	border-bottom: 1px solid #46a;
	background: #eef;
	font-weight: bold;
}
.calendar td.time {
	border-top: 1px solid #d7d7d7;
	padding:5px 0;
	text-align: center;
	background-color: #f3f3f3;
}
.calendar td.time .hour, .calendar td.time .minute, .calendar td.time .ampm {
	padding:5px 8px;
	border: 1px solid #d7d7d7;
	color:#666666; margin:0 8px;
	background-color: #fff;
}
.calendar td.time .ampm {
	text-align: center;
}
.calendar td.time .colon {
}
.calendar td.time span.hilite {
	/* border-color: #cf1e36;
	background-color: #cf1e36; */
	color: #fff;
}
.calendar td.time span.active {
	border-color: #cf1e36;
	background-color: #cf1e36;
	color: #fff;
}
