<ul>
<li><a href="">Option 1</a>

<ul>
<li><a href="">Item1</a>
<ul><li><a href="">Item12</a></li>
<li><a href="">Item13</a></li>
<li><a href="">Item14</a></li>
</ul></li>
<li><a href="">Item2</a></li>
<li><a href="">Item3</a></li>
<li><a href="">Item4</a></li>
</ul>
</li>
</ul>

<ul><li>Option1<ul><li>Item1<ul><li>Item12</li><li>Item13</li><li>Item14</li></ul></li><li>Item2</li><li>Item3</li><li>Item4</li></ul></li></ul>